<!DOCTYPE HTML>
<html>

<head>
	<title>Sreeram Ganesan</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
</head>

<body>
	<div id="wrapper">
		<div id="main">

			<!-- Header -->
			<header id="header">
				<img src="static/assets/css/images/profilepic.png" height="200" width="200" />
				<h1>Sreeram Ganesan</h1>
				<p>I am a 22-year old computer engineer with entrepreneurial aspirations&nbsp;&bull;&nbsp;Full Stack
					Developer&nbsp;&bull;&nbsp;Love System Design</p>
				<p>Software Engineer @ Oracle</p>
				<nav>
					<ul>
						<!-- <li><a href="#" class="icon solid fa-pencil-ruler"><span class="label">Blog</span></a></li> -->
						<li><a href="https://github.com/sreeram-0xb5e" class="icon brands fa-github"><span
									class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/sreeramganesan/" class="icon brands fa-linkedin"><span
									class="label">LinkedIn</span></a></li>
						<li><a href="https://twitter.com/sregsn" class="icon brands fa-twitter"><span
									class="label">Twitter</span></a></li>
						<li><a href="mailto: sreeram2910@gmail.com" class="icon solid fa-envelope"><span
									class="label">Email</span></a></li>
					</ul>
				</nav>
			</header>

			<!-- Footer -->
			<footer id="footer">
				<span class="copyright">Online Home of Sreeram Ganesan &nbsp;&bull;&nbsp;<a
						style="text-decoration:none;" onclick="alert('Under Developement!');">Sreeram
						Rants(blog)</a></span>
			</footer>

		</div>
	</div>
</body>

</html>